body {
	font-family: verdana;
	background-image: url(../img/homeBG4.jpg);
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}

h1 {
	text-align: center;
	color: PURPLE;
	text-shadow: 0 0 3px;
}

th {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 25px;
	font-family: cursive;
	color: white;
	text-shadow: 0 0 5px;
}

table {
	padding-left: 30px;
}

.findpassword {
	clear: both;
	BACKGROUND-color: #4A374A;
	PADDING-BOTTOM: 20px;
	MARGIN: 120px auto;
	PADDING-LEFT: 20px;
	WIDTH: 384px;
	height: 270px;
	PADDING-RIGHT: 20px;
	position: relative;
	PADDING-TOP: 20px;
	border-radius: 8px;
}

#indexform {
	height: 150px;
}

.prompt {
	color: rgb(218, 171, 171);
	height: 40px;
}

.input {
	width: 180px;
	height: 30px;
	margin-bottom: 10px;
	outline: none;
	padding: 5px;
	font-size: 13px;
	color: #DDE2C3;
	border-top: 1px solid #312E3D;
	border-left: 1px solid #312E3D;
	border-right: 1px solid #312E3D;
	border-bottom: 1px solid #56536A;
	border-radius: 4px;
	background-color: #2D2D3F;
}

.back {
	CURSOR: pointer;
	width: 100px;
	min-height: 20px;
	display: block;
	background-color: #4a77d4;
	background: gradient;
	border: 1px solid #3762bc;
	color: #fff;
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	border-radius: 5px;
	margin: 0;
}

.submit {
	CURSOR: pointer;
	width: 100px;
	min-height: 20px;
	display: block;
	background: gradient;
	background-color: #4a77d4;
	border: 1px solid #3762bc;
	color: #fff;
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	border-radius: 5px;
	margin-left: 85px;
}

.forgot {
	text-decoration: none;
	font-Style: italic;
	color: rgb(49, 180, 49);
}