* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

#page {
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	height: 600px;
	width: 980px;
}

#yard {
	width: 800px;
	border: 1px solid gray;
	box-shadow: 0 0 10px black;
	float: right;
}

#mark {
	font-weight: 800;
}

#scoreVal {
	color: red;
}

button {
	width: 50px;
}

a {
	text-decoration: none;
}